<mat-card>
    <mat-card-title>System wspierający generowanie tras w firmie logistycznej</mat-card-title>
    <mat-card-subtitle>Praca inżynierska, WIMII Politechnika Częstochowska</mat-card-subtitle>
    <mat-card-content>Aplikacja pozwala na generowanie tras, bazując na API wspieranym przez Google.<br>
        Funkcjonalność generatora możliwa jest tylko z poziomu użytkownika z prawami "Logistyk" oraz
        "Administrator".<br><br>
        Usuwanie użytkowników z uprawnieniami "Kierowca" oraz "Logistyk" możliwe jest z poziomu użytkownika z prawami
        "Administrator".<br><br>
        Użytkownicy z prawami "Logistyk" oraz "Administrator" mają możliwość podglądu wygenerowanych tras "Kierowców".
    </mat-card-content>
</mat-card>