:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer{
  width: 350px;
}
mat-drawer-container{
  height: 91.5%;
}
mat-drawer-content{
  padding: 20px;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}