<mat-nav-list>
    <div class="profile-card" *ngIf="userDetails">
        <div class="header">
            <h4>{{userDetails.fullName}}</h4>
        </div>
        <img src={{profileImage}} alt="Zdjęcie profilowe">
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>Podstrony</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="home">Strona główna</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="generator">Generator</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="kierowcy">Kierowcy</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="logistycy">Logistycy</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Profil</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="profil">Moje konto</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="mojeTrasy">Moje trasy</a>
</mat-nav-list>