<mat-nav-list>
    <div class="profile-card" *ngIf="userDetails">
        <br>
        <img src="../../../../assets/logo.png" alt="logo">
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="userDetails">
        <h2 matSubheader>Dane użytkownika</h2>
        <p class="user-data"><b>Imię i nazwisko:</b> {{userDetails.fullName}}</p>
        <p class="user-data"><b>Email:</b> {{userDetails.email}}</p>
        <p class="user-data"><b>Nazwa użytkownika:</b> {{userDetails.userName}}</p>
        <br>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Podstrony</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="home">Strona główna</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="generator">Generator</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="pracownicy">Pracownicy</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Profil</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="profil">Moje konto</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="mojeTrasy">Moje trasy</a>
</mat-nav-list>