<mat-card class="card-login">
    <mat-card-content>
        <mat-card-title>
            ZAREJESTRUJ SIĘ
        </mat-card-title>
        <br>
        <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
            <mat-form-field class="example-full-width">

                <mat-label>Nazwa użytkownika</mat-label>
                <input matInput formControlName="UserName" required>
                <mat-error
                    *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">
                    Pole wymagane.</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">

                <mat-label>Email</mat-label>
                <input matInput formControlName="Email" required>
                <mat-error
                    *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">
                    Błędny adres email.</mat-error>
                <mat-error
                    *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.required">
                    Pole wymagane.</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">

                <mat-label>Imię i Nazwisko</mat-label>
                <input matInput formControlName="FullName" required>
                <mat-error
                    *ngIf="service.formModel.get('FullName').touched && service.formModel.get('FullName').errors?.required">
                    Pole wymagane.</mat-error>
            </mat-form-field>
            <div formGroupName="Passwords">
                <mat-form-field class="example-full-width">

                    <mat-label>Hasło</mat-label>
                    <input matInput type="password" formControlName="Password" required>
                    <mat-error
                        *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">
                        Pole wymagane.</mat-error>
                    <mat-error
                        *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">
                        Podaj min. 4 znaki.</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">

                    <mat-label>Potwierdź Hasło</mat-label>
                    <input matInput type="password" formControlName="ConfirmPassword" required>
                    <mat-error
                        *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">
                        Pole wymagane.</mat-error>
                    <mat-error
                        *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">
                        Podałeś inne hasła.</mat-error>
                </mat-form-field>
            </div>
            <div class="button">
                <button mat-raised-button color="accent" [disabled]="!service.formModel.valid">Zarejestruj</button>
            </div>
        </form>
        <br>

        <br>
        <br>

        <mat-divider></mat-divider>
        <br>
        <p>Masz już konto? <a [routerLink]="['/login']">Zaloguj się</a></p>
    </mat-card-content>
</mat-card>