.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .card-login{
      width: 30vw;
      margin: auto;
  }
  mat-card-title{
    justify-content: center;
    text-align: center;
    font-family: 'Big Shoulders Stencil Text';
    font-size: 30px;
    letter-spacing: 2px;
  }

  .button{
    display: flex;
  justify-content: center;
  }

  .password{
    margin-left: 8px;
  }
  