<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="0px">

                <li>
                    <button mat-icon-button (click)="onLogout()" id="login">
                        <p>Wyloguj</p>
                    </button>

                </li>
                <li>


                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>