<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Zaplanuj trasę</ng-template>
        <form [formGroup]="firstFormGroup">
            <app-generator></app-generator>
            <mat-divider></mat-divider>
            <br>
            <div class="stepper-buttons">
                <button mat-button matStepperNext class="border">Dalej</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Wybierz kierowcę</ng-template>
            <app-kierowcy-generator></app-kierowcy-generator>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div class="stepper-buttons">
                <button mat-button matStepperNext class="border">Dalej</button>
                <button mat-button matStepperPrevious class="border">Wstecz</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Zakończ generowanie trasy</ng-template>
        <mat-divider></mat-divider>
        <br>
        <mat-card class="card" id="container">

            <mat-card-title>Dodaj trasę, oraz przypisz ją kierowcy</mat-card-title>
            <mat-card-content>

                Jeśli chcesz przypisać trasę kierowcy, naciśnij przycisk "Dodaj trasę"<br>
                Pamiętaj, że wygenerowane trasy możesz przeglądać pod zakładką "Moje trasy"<br><br>

                <div class="center"><button mat-raised-button color="primary">Dodaj trasę</button></div>

            </mat-card-content>
        </mat-card>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="stepper-buttons">
            <button mat-button matStepperPrevious class="border">Wstecz</button>
            <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
        </div>
    </mat-step>
</mat-horizontal-stepper>