<div id="container">
    <mat-card class="card" id="card2">
        <mat-card-content>

            <agm-map [latitude]="latitude" [longitude]="longitude">
                <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoints" [panel]="myPanel"
                    [avoidFerries]="avoidFerries" [avoidHighways]="avoidHighways" [avoidTolls]="avoidTolls"
                    [provideRouteAlternatives]="provideRouteAlternatives" [optimizeWaypoints]="optimizeWaypoints">
                </agm-direction>
            </agm-map>

        </mat-card-content>
    </mat-card>
    <mat-card class="card" id="card3">
        <mat-card-content>
            <div #myPanel id="panel"></div>
        </mat-card-content>
    </mat-card>
</div>
<mat-divider></mat-divider>
<div id="container3">
    <div id="container2">
        <mat-card class="card" id="card1">
            <mat-card-subtitle>Podaj adres</mat-card-subtitle>
            <mat-card-content>
                <div class="form-group">
                    <input type="text" class="form-control" id="place" [formControl]='searchControl'
                        placeholder="Podaj lokalizację" autocorrect="off" autocapitalize="off" spellcheck="off"
                        type="text" #search>
                </div>

                <div>
                    <mat-card class="address" *ngFor="let latlong of latlongs">
                        <mat-card-content>
                            <b>{{latlong.name}}</b>
                            <br>
                            <mat-form-field class="date" appearance="fill">
                                <mat-label>Data dostawy</mat-label>
                                <input matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                </div>

            </mat-card-content>


        </mat-card>
        <mat-card class="card" id="card4">
            <mat-card-content>
                <button mat-raised-button color="warn" (click)="reset()">Reset</button>
                <button mat-raised-button color="primary" (click)="generuj()">Generuj</button>
            </mat-card-content>

        </mat-card>
    </div>
    <mat-card class="card" id="card5">
        <mat-card-subtitle>Wybierz opcje dodatkowe</mat-card-subtitle>
        <mat-card-content>
            <p>Unikaj promów</p>
            <mat-radio-group>
                <mat-radio-button [checked]="avoidFerries" value="true" (change)="FerriesTrue($event)">Tak
                </mat-radio-button>
                <mat-radio-button [checked]="!avoidFerries" value="false" (change)="FerriesFalse($event)">Nie
                </mat-radio-button>
            </mat-radio-group>

            <p>Unikaj autostrad</p>
            <mat-radio-group>
                <mat-radio-button [checked]="avoidHighways" value="true" (change)="HighwaysTrue($event)">Tak
                </mat-radio-button>
                <mat-radio-button [checked]="!avoidHighways" value="false" (change)="HighwaysFalse($event)">Nie
                </mat-radio-button>
            </mat-radio-group>

            <p>Unikaj opłat</p>
            <mat-radio-group>
                <mat-radio-button [checked]="avoidTolls" value="true" (change)="TollsTrue($event)">Tak
                </mat-radio-button>
                <mat-radio-button [checked]="!avoidTolls" value="false" (change)="TollsFalse($event)">Nie
                </mat-radio-button>
            </mat-radio-group>

            <p>Zapewnij alternatywne drogi</p>
            <mat-radio-group>
                <mat-radio-button class="example-margin" [checked]="provideRouteAlternatives"
                    value="provideRouteAlternatives-true" (change)="provideRouteAlternativesTrue($event)">Tak
                </mat-radio-button>
                <mat-radio-button class=" example-margin" [checked]="!provideRouteAlternatives"
                    value="provideRouteAlternatives-false" (change)="provideRouteAlternativesFalse($event)">Nie
                </mat-radio-button>
            </mat-radio-group>

            <p>Ignoruj kolejność punktów</p>
            <mat-radio-group>
                <mat-radio-button class=" example-margin" [checked]="optimizeWaypoints" value="optimizeWaypoints-true"
                    (change)="optimizeWaypointsTrue($event)">Tak
                </mat-radio-button>
                <mat-radio-button class="example-margin" [checked]="!optimizeWaypoints" value="optimizeWaypoints-false"
                    (change)="optimizeWaypointsFalse($event)">Nie
                </mat-radio-button>
            </mat-radio-group>

        </mat-card-content>


    </mat-card>
</div>