.card{
    width: 70%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.container{
    display: flex;
}
#first-card{
    margin-right: 20px;
    width: 30%;
    height: 350px;
}
#img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
img{
    width: 100%;
}
mat-card-title{
    text-align: center;
}
button{
    position: relative;
    bottom: 10px;
    left: 10px;
}
#logout{
    margin-left: 50%;
}

#delete, #password{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#fab{
    margin-left: 90%;
    width: 25px;
    height: 25px;
}
#fab-icon{
    font-size: 14px;
    padding-right: 0px;
    padding-top: 0px;
    line-height: 0px;
    margin: 0px;
}

.mat-button-wraper{
    padding: 0px;
    margin: 0px;
}

input{
    width: 200px;
}